// lam edit begin

.background-color-active-custom {
  background-color: $background-color-active-custom !important;
}

.btn-primary {
  background-color: $background-color-active-custom !important;
  border: 1px solid $background-color-active-custom !important;
}

.btn-primary:hover {
  background-color: $white !important;
  color: $background-color-active-custom;
}

button.btn {
  padding: 4.5px !important;
}

.btn-header-custom i {
  font-size: 17px !important;
}

.main-content > div > .container-fluid {
  min-height: 78vh;
}

.dropdown-menu {
  li {
    cursor: pointer;
  }
}

#wrapper {
  .item-sidebar {
    margin-left: 0;
    opacity: 1;
    transition: opacity 0.25s ease-out, margin-left 0.1s ease-out;
  }
}

a.bg-primary:hover,
a.router-link-active.active {
  @extend .background-color-active-custom;

  i {
    color: $white;
  }
}

.main-content {
  min-height: 100vh;

  .navbar-top {
    height: $custom-toggle-width;
    padding: 8px;
    margin-bottom: 0px;
    z-index: 9;
  }
}

.sidebar-heading {
  img {
    height: 50px;
  }
}

.scrollbar-table {
  position: relative;
  overflow: auto;
  display: block;
}

.color-item-menu {
  color: $color-item-menu;
}

#sidebar-wrapper {
  overflow: hidden;
  position: fixed;
  width: 250px;
  z-index: 99;
  top: 0;
  transition: margin-left 0.25s ease-out;
}

#sidebar-wrapper:hover {
  overflow: auto;
}

#sidebar-wrapper .list-group {
  .list-group-item > i {
    font-size: 15px;
    width: 22px;
  }
}

.title-project > i {
  font-size: 15px;
  width: 28px;
}

.overflow-unset {
  overflow: unset !important;
}

.header-custom-sticky-top {
  position: sticky;
  top: 50px;
  z-index: 7;
}

.main-content .container-fluid {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.widht-70 {
  width: 70px;
}

.font-size-13 {
  font-size: 13px !important;
}

.line-height-33 {
  line-height: 33px;
}

.line-height-30 {
  line-height: 30px;
}

.bg-primary-line {
  background-color: $background-color-active-custom !important;
}

.nav-tabs .nav-link.active,
.nav-tabs .nav-item.show .nav-link {
  color: $white;
  background-color: $background-color-active-custom;
  padding: $margin-right-10;
}

.nav-tabs .nav-link {
  padding: $margin-right-10;
}

.card-header {
  padding-top: 5px;
}

.card-body:active,
.card-body:focus,
button:focus,
button:active {
  outline: none !important;
}

.page-item.active .page-link {
  background-color: $background-color-active-custom;
  border-color: $background-color-active-custom;
}

.custom-control-input:checked ~ .custom-control-label::before {
  background-color: $background-color-active-custom;
  border-color: $background-color-active-custom !important;
}

.custom-checkbox .custom-control-label::before,
.custom-control-label::after {
  width: 20px;
  height: 20px;
}

.modal-footer {
  justify-content: center;
}

.modal {
  overflow: auto !important;

  header.modal-header {
    background-color: $background-color-active-custom;
    padding: 0.25rem;
    height: 36px;

    h5 {
      color: $white !important;
      line-height: 29px;
      margin-left: 0.5rem;
    }
  }

  footer {
    padding: 0.25rem;
    border-top: 1px solid #e9ecef;

    .btn {
      background-color: $background-color-active-custom;
      color: $white;
      border: none;
    }
  }
}

.tree-checkbox {
  width: 15px !important;
  height: 15px !important;
}

.tree-checkbox.checked:after {
  left: 5px !important;
  top: 1px !important;
  height: 7px !important;
  width: 4px !important;
}

.dropdown-menu {
  min-width: 8rem !important;
}

.memu-header-custom {
  color: $black;
  padding: 0 0.5rem;

  .dropdown-toggle:after,
  .text-dropdown {
    color: $black !important;
  }
}

.dropdown-menu.bg-primary-line {
  li:hover {
    color: $background-color-active-custom;
  }
}

.width-max-content {
  width: max-content;
}

.wrapper-img-logo {
  position: sticky;
  top: 0;
  z-index: 6;
}

.title-project {
  height: 38px;
  line-height: 38px;
  margin: 0 auto;
}

// scroll
/* width */
.el-select__tags::-webkit-scrollbar,
#sidebar-wrapper::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

/* Track */
.el-select__tags::-webkit-scrollbar-track,
#sidebar-wrapper::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
.el-select__tags::-webkit-scrollbar-thumb,
#sidebar-wrapper::-webkit-scrollbar-thumb {
  background: $background-color-active-custom;
}

/* Handle on hover */
.el-select__tags::-webkit-scrollbar-thumb:hover,
#sidebar-wrapper::-webkit-scrollbar-thumb:hover {
  background: $primary;
}

// end scroll

.pagination div.el-select {
  line-height: 36px;
}

.wapper-checkbox-custom {
  width: 18px;
  margin: auto;
}

.btn-action-custom ~ ul.dropdown-menu a {
  font-size: 12px;
  i {
    position: relative;
    top: -2px;
  }
}

.dropdown-menu {
  min-width: 6rem !important;
}

//style table
.table thead th {
  text-transform: unset !important;
  font-size: 13px;
}

.table-custom {
  border-collapse: collapse;
  width: 100%;
}

.table-custom td,
.table-custom th {
  // white-space: unset;
  cursor: pointer;
}

.table-custom tr:hover,
.tr-hover {
  background-color: #d9d9d9 !important;
}

.table-custom thead th {
  position: sticky;
  top: -1px;
  z-index: 6;
}

.table-custom thead td {
  position: sticky;
  top: 30px;
  z-index: 6;
  background-color: #fff;
}

.table-custom thead th {
  vertical-align: inherit;
  border: 1px solid #dddddd;
  padding: 0;
  font-weight: 600;
  text-align: center;
  height: 32px !important;
}

.table-custom thead td {
  border: 1px solid #dddddd;
  padding: 2px;
  height: 32px !important;
}

.table-custom tbody td {
  border: 1px solid #dddddd;
  padding: 3px;
}

.card .table td,
.card .table th {
  padding-left: 2px;
  padding-right: 2px;
}

.scrollbar-table-modal {
  overflow: auto;
  max-height: 45vh;
}

.checkbox-custom {
  width: 20px;
  margin: auto;
}

.img-60 {
  width: 0;
  transition: width 0.25s ease-out;
}

.img-250 {
  width: 100%;
  transition: width 0.25s ease-out;
}

@media (min-width: 769px) {
  #wrapper.toggled {
    #sidebar-wrapper {
      width: 60px;
      margin-left: 0 !important;
      transition: width 0.25s ease-out;
    }

    #sidebar-wrapper:hover {
      width: 250px;
      transition: width 0.25s ease-out;

      .item-sidebar {
        margin-left: 0;
        opacity: 1;
        transition: opacity 0.25s ease-out, margin-left 0.25s ease-out;
      }

      .img-60 {
        width: 0 !important;
        transition: width 0.25s ease-out;
      }

      .img-250 {
        width: 100% !important;
        transition: width 0.25s ease-out;
      }
    }

    .main-content {
      margin-left: 60px !important;
      transition: margin-left 0.25s ease-out;
    }

    .item-sidebar {
      margin-left: -250px;
      opacity: 0;
      transition: opacity 0.25s ease-out, margin-left 0.1s ease-out;
    }

    .img-60 {
      width: 100% !important;
      transition: width 0.25s ease-out;
    }

    .img-250 {
      width: 0 !important;
      padding: 0 !important;
      transition: width 0.25s ease-out;
    }
  }
  .main-content {
    transition: margin-left 0.25s ease-out;
  }
}

@media (min-width: 1200px) {
  .scrollbar-table {
    height: 58vh;
  }
}

@media (min-width: 1440px) {
  .scrollbar-table {
    height: 63vh;
  }
}

@media (max-width: 769px) {
  #sidebar-wrapper {
    transition: margin-left 0.25s ease-out;
  }
}

//style table end

//login
.bg-login {
  background-image: url("/img/theme/background-login.jpg");
  background-size: cover;
}

.bg-dashboard {
  background-image: url("/img/theme/jeopardy_logo.jpg");
  background-size: cover;
}

.bg-banner {
  background-image: url("/img/theme/banner-contestant.jpg");
  background-size: cover;
}

.bg-login {
  .dropdown-menu-custom a .text-dropdown,
  .dropdown-toggle:after {
    color: $black !important;
  }
}

@media (min-width: 1200px) {
  .tree-authorization {
    max-height: 450px;
  }
}

.btn-collapse-custom i {
  font-size: inherit !important;
}

.cursor-pointer {
  cursor: pointer;
}

.border-none {
  border: none;
}

.select-header {
  width: 30%;
  margin-right: 10px;
}

.background-transparent {
  background-color: transparent;
  border: 0;
}

.click-here-button {
  color: rgb(22, 155, 213);
  font-size: 13px !important;
}

button i {
  font-size: 15px !important;
}

.btn-custom .btn-inner--text {
  position: relative;
  top: 0px;
}

.tooltip-inner {
  max-width: 210px;
  padding: 0.25rem 0.5rem;
  color: #fff;
  text-align: left;
  background-color: #000;
  border-radius: 0.375rem;
  font-style: italic;
  font-size: 11px;
}

.top-menu {
  list-style: none;
  width: 100%;
  margin: 0 auto;
  text-align: center;
  padding: 0;
}
.top-menu li {
  display: inline-block;
  margin: 0 1rem;
}
.top-menu li.li-menu {
  padding: 0.5rem 0;
  width: 120px;
  border-radius: 5px;
  position: relative;
  z-index: 2;
}
.top-menu li.login {
  background-color: #eb7a04;
}
.top-menu li.login a {
  color: #000;
}
.top-menu li.active {
  background-color: #eb7a04;
}
.top-menu li.active a {
  color: #000;
}
.top-menu li a {
  color: #fff;
}
.top-menu li.home-menu {
  display: none;
}
.top-menu li.search-form input {
  border-radius: 5px;
  border: 1px solid #2bffc6;
  background-color: transparent;
  padding: 0.5rem 1.5rem;
  width: 420px;
  position: relative;
  color: #ccc;
}
